body {
  font-family:"Roboto", sans-serif;
  color: #434455 ;
  background-color: #FFFFFF ;
}
.header_section {
    background-color: #f8f9fa;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.text {
    color:#2e2f42 ;
}
.nav_list {
    list-style: none; 
}
.nav_item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42 ;
    text-decoration: none; 
}
.nav_item:hover,
.nav_item:focus {
    color: #404bbf; 
}
.contact_info {
    font-style: normal; 
}
.contact_list {
    list-style: none; 
    padding: 0; 
}
.contact_item {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact_item:hover,
.contact_item:focus {
    color: #404bbf; 
}


.main_section {
    background-color: #2e2f42; 
    text-align: center; 
}
.section_title {
    font-size: 56px; 
    line-height: 1.07; 
    letter-spacing: 0.02em; 
    color: #ffffff; 
}
.cta_button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff; 
    cursor: pointer;    
}
.cta_button:hover,
.cta_button:focus {
    background-color: #404BBF; 
}

.main_section_info {
   padding: 20px; 

}
.info_list_info{
    list-style: none;  
    padding: 0; 
}
.item_title_info {
    font-weight: 500; 
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2e2f42;
}
.item_description_info {
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455; 
}

.third_section {
    background-color: #F4F4FD;  
}
.section_title_team {
    font-size: 36px;
    line-height: 1.11; 
    text-align: center; 
    letter-spacing: 0.02em; 
    text-transform: capitalize; 
    color: #2e2f42; 
}
.fourth_section{
    text-align: center;
}
.item_title_foto {
    font-weight: 500; 
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2e2f42; 
}
.item_description_foto {
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #434455; 
}
.footer_section {
    background-color: #2e2f42; 
    text-align: center;
}
.logo_footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17; 
    letter-spacing: 0.03em; 
    text-transform: uppercase; 
    color: #4d5ae5; 
}
.footer_text {
    color: #f4f4fd; 
}
.footer_description {
    line-height: 1.5; 
    color: var(--footer-text-color, #F4F4FD); 
    letter-spacing: 0.02em;
}





































