body {
  font-family:"Roboto", sans-serif;
  margin: 0;
  color: #434455 ;
  line-height: 1.6;
}
.header_section {
    background-color: #f8f9fa;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo_text{
    color:#2e2f42 ;
}
.blue_text {
    color:  #4d5ae5;
}
.nav_list {
    list-style: none; 
}
.nav_item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42 ;
    text-decoration: none; 
}
.nav_item:hover,
.nav_item:focus {
    color: #404bbf; 
}
.contact_info {
    font-style: normal; 
}
.contact_list {
    list-style: none; 
    padding: 0; 
}
.contact_item {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact_item:hover,
.contact_item:focus {
    color: #404bbf; 
}


.main_section {
    background-color: #2e2f42; 
    text-align: center; 
}
.section_title {
    font-size: 56px; 
    line-height: 1.07; 
    letter-spacing: 0.02em; 
    color: #ffffff; 
}
.cta_button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff; 
    cursor: pointer; 
    padding: 10px 20px;   
}
.cta_button:hover,
.cta_button:focus {
    background-color: #404BBF; 
}

.main_section_info {
    background-color: white; 
    text-align: center; 

}
.info_list_info{
    list-style: none;  
    margin: 0; 
}
.list_item_info {
    margin-bottom: 30px; 
}
.item_title_info {
    font-weight: 500; 
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2e2f42;
}
.item_description_info {
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455; 
}

.third_section {
    background-color: #F4F4FD;  
}
.section_title_team {
    font-size: 36px;
    line-height: 1.11; 
    text-align: center; 
    letter-spacing: 0.02em; 
    text-transform: capitalize; 
    color: #2e2f42; 
}
.service_list {
    list-style: none;  
    margin: 0; 
}
.list_item_team {
    background-color: #FFFFFF;  
    margin-bottom: 20px; 
    border-radius: 5px; 
}
.item_title_team {
    font-weight: 500; 
    font-size: 20px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}
.item_description_team {
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #434455; 
}
.section_title_foto {
    font-size: 36px;
    line-height: 1.11; 
    text-align: center; 
    letter-spacing: 0.02em; 
    text-transform: capitalize; 
    color: #2e2f42;
}
.app_list {
    list-style: none; 
    margin: 0; 
}
.list_item_foto {
    margin-bottom: 30px; 
    text-align: center; 
}
.item_title_foto {
    font-weight: 500; 
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2e2f42; 
}
.item_description_foto {
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #434455; 
}
.footer_section {
    background-color: #2e2f42; 
    text-align: center;
    padding: 20px;
}
.logo_footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17; 
    letter-spacing: 0.03em; 
    text-transform: uppercase; 
    color: #4d5ae5; 
}
.logo_text_footer {
    color: #f4f4fd; 
}
.footer_description {
    line-height: 1.5; 
    color: var(--footer-text-color, #F4F4FD); 
    letter-spacing: 0.02em;
}





































